.lovemesome-heros {
  @include make-xs-column(12);

  display: none;
  padding-right: 17px;
  margin-bottom: $space;

  @media (min-width: $screen-sm-min) {
    display: block;
  }
}

.owl-carousel {
  height: 450px;
}

.item {
  @include transition(.6s ease-in-out all);

  // opacity: 0.3;
  width: 680px;

  a {
    display: block;
  }

  img {
    height: 450px;
    max-width: 680px;
  }
}

// visible items
.active.center .item {
  opacity: 1;
}

// nav
.owl-nav > div {
  background: rgba(white, 0.5);
  bottom: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 131.5px;
  z-index: 99;

  &:hover {
    .fa {
      opacity: 1;
    }
  }

  .fa {
    color: $black;
    font-size: 28px;
    position: absolute;
    opacity: 0.5;
    top: 49%;
  }
}
.owl-prev {
  left: 0;
}
.owl-next {
  right: 0;
}


// caption
.carousel-caption {
  @extend .article-headline;

  bottom: 0;
  color: white;
  font-size: 34px;
  left: 0;
  margin: 0;
  padding: $space;
  right: 0;
  text-shadow: none;

  background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.5))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#80000000',GradientType=0 ); /* IE6-9 */
}
