.article-content-gallery {
  background: $bg-image;

  .item {
    height: 480px + $space;
    padding: $space-medium;
    text-align: center;

    img {
      display: inline-block;
      height: auto;
      margin: 0;
      max-width: 648px;
      max-height: 480px;
      min-width: 0;
      width: auto;
    }
  }

  .carousel-indicators {
    @include make-row;

    bottom: 0;
    height: auto;
    left: 0;
    padding: $space-tiny;
    position: relative;
    margin: 0;
    text-align: left;
    width: auto;

    li {
      @include make-xs-column(2);

      background: none;
      border: 0;
      height: auto;
      padding: $space-tiny;
      position: relative;
      margin: 0;
      opacity: 0.4;
      text-indent: 0;

      &.active {
        border: 0;
        height: auto;
        opacity: 1;
      }

      img {
        @extend .img-responsive;

        margin: 0;
      }
    }
  }
}









// .blueimp-gallery {
//   background: white;
//   background: rgba(white, 0.9);
//
//
//   .close,
//   h3.title {
//     color: $text-color;
//     opacity: 1;
//     text-decoration: none;
//     text-shadow: none;
//
//     &:hover {
//       color: $text-color;
//       opacity: 1;
//       text-decoration: none;
//     }
//   }
//
//   .next,
//   .prev {
//     background: none;
//     border: none;
//     box-shadow: none;
//     color: $text-color;
//     opacity: 1;
//     text-shadow: none;
//
//     i {
//       color: $text-color;
//       opacity: 1;
//       text-decoration: none;
//       text-shadow: none;
//     }
//   }
//
//   .play-pause {
//     background-image: none !important;
//     background: none !important;
//     color: $text-color;
//     opacity: 1;
//     text-decoration: none;
//
//     @extend .fa;
//     @extend .fa-play;
//
//     &:hover {
//       color: $text-color;
//       opacity: 1;
//       text-decoration: none;
//     }
//   }
//   &.blueimp-gallery-playing {
//     .play-pause {
//       @extend .fa-pause;
//     }
//   }
// }
//
// .blueimp-gallery > .slides > .slide > .slide-content {
//   border: 1px solid $text-color;
//   max-height: 80%;
//   max-width: 80%;
//   padding: 1px;
// }
//
// .blueimp-gallery > .indicator > li {
//   background-size: 300%;
//   box-shadow: none;
//   border: 0;
//   border-radius: 99px;
//   height: 14px;
//   opacity: 0.4;
//   width: 14px;
// }
