.articles-listing-excerpt {
  @extend .row;

  margin-bottom: -($space + $space);
}

.article-excerpt {
  @include make-sm-column(6);

  margin-bottom: $space + $space;
}

.article-excerpt-category {
  font-size: $font-size-small;
  font-weight: 700;
  margin-bottom: $space-tiny;
  text-align: center;
  text-transform: uppercase;

  a {
    color: $brand-primary;
  }
}
.article-excerpt-headline {
  margin-bottom: $space-medium;

  h2 {
    font-family: 'PT Serif', serif;
    font-size: 26px;
    line-height: 34px;
    margin: 0;
    text-align: center;

    a {
      display: block;

      &:hover {
        text-decoration: none;
      }
    }
  }
}
.article-excerpt-image {
  margin-bottom: $space-small;

  a {
    display: block;
  }

  img {
    max-width: 100%;
  }
}
.article-excerpt-body {
  margin-bottom: $space-small;
}


.article-excerpt-meta {
  @extend .clearfix;

  color: $grey-medium;
  font-size: $font-size-small;

  a {
    color: $grey-medium;
  }
}
.article-excerpt-author {}
.article-excerpt-publishing-date {
  float: right;
}
