<form role="search" method="get" class="search-form" action="<%= search_results_path %>">
  <div class="row">
    <div class="col-lg-6">
      <div class="input-group">
        <input type="search" class="form-control" autofocus name="search" placeholder="Enter phrase or query" value="<%= @search_query %>">
        <span class="input-group-btn">
          <button class="btn btn-primary" type="submit">
            <i class="fa fa-search"></i>
          </button>
        </span>
      </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
  </div><!-- /.row -->
</form>

<% if @search_query.present? %>
  <p>
    <small id="helpBlock" class="help-block">Searching for "<%= @search_query %>".</small>
  </p>
<% else %>
  <br>
<% end %>
