// grid
$item-width: 231px;
$item-width-list: 245px;

.article-content {
  // background: #eee;
}

.products-gallery-grid {
  @extend .clearfix;
}


.products-gallery-grid-info {
  @extend .row;

  margin-bottom: $space;
}
.products-gallery-grid-intro {
  @extend .col-sm-5;

  p {
    margin: 0;
    text-align: center;
  }
}
.products-gallery-grid-billboard {
  @extend .col-sm-7;

  img {
    margin-bottom: 0;
  }
}

.products-gallery-grid-items {
  @extend .row;

  margin-bottom: -$space;

  ul {
    @extend .clearfix;

    list-style: none;
    margin: 0;
    margin-bottom: 0 !important;
    padding: 0;
  }
}

.products-gallery-grid-item {
  @extend .col-sm-6;

  margin-bottom: $space;
  text-align: center;

  &:nth-child(2n+1) {
    clear: both;
  }

  // hide dash
  &:before {
    display: none;
  }
}
.products-gallery-grid-item-headline {
  font-size: 20px;
  margin: $space-medium auto;
  max-width: 90%;
}
.products-gallery-grid-item-image {
  border: 1px solid $bg-image;
}
.products-gallery-grid-item-description {
  font-size: 14px;
  line-height: 21px;
  margin: 0;
}
.products-gallery-grid-item-referral-link {
  margin: 0;
}
