<%= simple_form_for(@post, url: url) do |f| %>
  <%= f.error_notification %>

  <%#= f.hidden_field :author_id, value: current_user.id %>

  <div class="row">
    <div class="col-sm-8">
      <div class="form-inputs">
        <%= f.input :title, label: false, placeholder: "Title", input_html: { class: "input-lg" } %>
        <%= f.input :handle, label: false, placeholder: "Handle", input_html: { class: "input-sm" } %>
        <%= f.association :category, collection: Category.all.collect { |l| [l.title, l.id] }, include_blank: false %>
        <%= f.input :excerpt, label: "Teaser", input_html: { value: markdown(@post.excerpt) } %>
        <%= f.input :body, input_html: { value: markdown(@post.body) } %>

        <%#= f.input :origin_title %>
        <%#= f.input :origin_url %>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            <%= link_to "Preview", post_path(@post), class: "btn btn-default btn-xs pull-right" if @post.id != nil %>
            Publish
          </h3>
        </div>
        <div class="panel-body">
          <% if @post.published? %>
            <p>
              Published on <b><%= @post.published_at.strftime("%d.%m.%Y, %H:%M") %></b>
            </p>
          <% else %>
            <p>
              Not published.
            </p>
          <% end %>
          <%= f.input :author_id, label: "Author", collection: User.all.collect { |l| [l.firstname, l.id] }, include_blank: false %>
        </div>
        <div class="panel-footer clearfix">
          <% if @post.published? %>
            <%= f.button :submit, "Unpublish", class: "btn-sm pull-left" %>
            <%= f.button :submit, "Update", class: "btn-primary btn-sm pull-right" %>
          <% else %>
            <%= f.button :submit, "Save Draft", class: "btn-sm pull-left" %>
            <%= f.button :submit, "Publish", class: "btn-primary btn-sm pull-right" %>
          <% end %>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            Featured Image
          </h3>
        </div>
        <div class="panel-body">
          <%= image_tag attachment_url(@post, :featured_image, :fill, 1000, 1000, format: 'jpg'), class: "img-responsive" if @post.featured_image_id %><br>
          <%= f.attachment_field :featured_image, direct: true %>
          <%= f.check_box :remove_featured_image %>
          <%= f.label :remove_featured_image %>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            Tags
          </h3>
        </div>
        <div class="panel-body">
          <%= f.input :tag_list, label: false, placeholder: "Add Tags", input_html: { value: @post.tag_list.to_s } %>
        </div>
      </div>
    </div>
  </div>

<% end %>
