<div class="page-header">
  <%= link_to 'New Post', new_backend_post_path, class: "btn btn-primary pull-right" %>
  <h1>Listing Posts</h1>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Published</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><b><%= link_to post.title, edit_backend_post_path(post) %></b></td>
        <td><%= post.author.firstname %></td>
        <td><%= post.status %></td>
        <td><%= link_to 'Preview', post_path(post) %></td>
        <td><%= link_to 'Edit', edit_backend_post_path(post) %></td>
        <td><%= link_to 'Destroy', backend_post_path(post), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
