.aside-section {
  @extend .clearfix;

  margin-bottom: $space;
}

.aside-headline {
  font-family: 'PT Serif', serif;
  font-size: 22px;
  line-height: 28px;
  margin-top: 0;
  text-transform: capitalize;
}
