body div.aside-pinterest > span[class*="PIN"] {
  box-shadow: none !important;
  border: 1px solid $black !important;
}

.aside-pinterest {
  > span {
    float: right;
  }
}


.aside-newsletter {

  h2 {
    @extend .aside-headline;
  }

  // groups
  .mc-field-group {
    @extend .form-group;

    // hide labels
    label {
      display: none;
    }
  }

  // form inputs
  input[type="email"],
  input[type="text"] {
    @extend .form-control;

    @extend .input-sm;
  }

  // submit button
  #mc-embedded-subscribe {
    @extend .btn;
    @extend .btn-default;
    @extend .btn-sm;
  }

  .indicates-required {
    color: $grey-medium;
    float: right;
    font-size: $font-size-small;
    margin: 0 0 $space-mini 0;
  }
}
