<!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup">
  <form action="//lovemesomemah.us10.list-manage.com/subscribe/post?u=c4c9b97a168863b77514d48ef&amp;id=0d88116619" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
      <h2>Newsletter</h2>
        <div class="mc-field-group">
          <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
          </label>
          <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Email Address *">
        </div>
        <div class="mc-field-group">
          <label for="mce-FNAME">Name </label>
          <input type="text" value="" name="FNAME" class="" id="mce-FNAME" placeholder="Name">
        </div>
        <div id="mce-responses" class="clear">
        <div class="response" id="mce-error-response" style="display:none"></div>
        <div class="response" id="mce-success-response" style="display:none"></div>
      </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;"><input type="text" name="b_c4c9b97a168863b77514d48ef_0d88116619" tabindex="-1" value=""></div>
      <div class="clear">
        <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
  </form>
</div>
<!--End mc_embed_signup-->
