<div class="page-main">
  <% unless @heros.empty? %>
    <section id="lovemesome-heros" class="lovemesome-heros">
      <div class="owl-carousel">
        <% for post in @heros %>
          <div class="item">
            <%= link_to post_path(post) do %>
              <img nopin="nopin"
                    src="<%= attachment_url(post, :featured_image, :fill, 680, 450) %>"
                    data-hires="<%= attachment_url(post, :featured_image, :fill, 1360, 900) %>"
                    alt="<%= post.title %>">
              <div class="carousel-caption">
                <%= post.title %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </section>
  <% end %>

  <section class="page-content">
    <%= render :template => "posts/index" %>
  </section>

  <aside class="page-aside">
    <%= render 'layouts/aside' %>
  </aside>
</div>
