// // toolbar background and other styles
// .redactor-toolbar {
//     background: #000;
// }
//
// // toolbar buttons
// .redactor-toolbar li a {
//     color: #fff;
// }
//
// // buttons hover state
// .redactor-toolbar li a:hover {
//     background: #d70a16;
//     color: #fff;
// }
//
// // buttons active state
// .redactor-toolbar li a:active,
// .redactor-toolbar li a.redactor-act {
//     background: #000;
//     color: #aaa;
// }
