<div class="page-header">
  <%= link_to 'New Category', new_backend_category_path, class: "btn btn-primary pull-right" %>
  <h1>Listing Categories</h1>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Handle</th>
      <th>Description</th>
      <th>Active</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.title %></td>
        <td><%= category.handle %></td>
        <td><%= category.description %></td>
        <td><%= category.active %></td>
        <td><%= link_to 'Edit', edit_backend_category_path(category) %></td>
        <td><%= link_to 'Destroy', backend_category_path(category), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
