<div class="article-actions">
  <span>
    Share
  </span>

  <span class="pull-right">
    <div class="social-share social-share-facebook">
      <a class="social" href="http://www.facebook.com/sharer.php?u=<%=u share_post_url(@post) %>" target="_blank">
        <i class="fa fa-facebook"></i>
      </a>
    </div>
    ·
    <div class="social-share social-share-twitter">
      <a class="social" href="https://twitter.com/intent/tweet?text=<%=u @post.title %>&url=<%=u share_post_url(@post) %>&via=lovemesomemag" target="_blank">
        <i class="fa fa-twitter"></i>
      </a>
    </div>
    ·
    <div class="social-share social-share-pinterest">
      <a class="social" href="//www.pinterest.com/pin/create/button/" data-pin-do="buttonBookmark"  data-pin-color="white" data-pin-height="20"><img src="//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_white_20.png" /></a>
    </div>
  </span>
</div>
