<article id="article-excerpt-<%= post.id %>" class="article-excerpt">
  <div class="article-excerpt-category">
    <%= link_to post.category.title, category_path(post.category) %>
  </div>
  <div class="article-excerpt-headline">
    <h2>
      <a href="<%= url_for post_path(post) %>">
        <%= post.title %>
      </a>
    </h2>
  </div>
  <div class="article-excerpt-image">
    <%= link_to post_path(post) do %>
      <%= image_tag attachment_url(post, :featured_image, :fill, 328, 0, format: 'jpg'), "data-hires" => attachment_url(post, :featured_image, :fill, 656, 0, format: 'jpg'),  nopin: "nopin", alt: post.title, title: post.title %>
    <% end %>
  </div>
  <div class="article-excerpt-body">
    <%= sanitize(markdown(post.excerpt), :tags=>[]) %>
  </div>
  <div class="article-excerpt-meta">
    <span class="article-excerpt-author">
      by Linda
    </span>
    <span class="article-excerpt-publishing-date">
      on <%= post.published_at.strftime("%B %d, %Y") %>
    </span>
  </div>
</article>
