<h2 class="article-headline">
  <%= link_to @post.title, @post %>
</h2>
<div class="article-meta">
  in
  <%= link_to @post.category.title, @post.category %>
  on
  <%= post.published_at.strftime("%B %d, %Y") %>
</div>
