<div class="article-author">
  by Linda
</div>

<!-- <?php $origin_title = $post->__get("origin_title"); ?>
<?php $origin_url = $post->__get("origin_url"); ?>
<?php if ($origin_title && $origin_url): ?>
  <div class="article-origin">
    <b>Inspired by:</b> <a href="<?php echo $origin_url; ?>" target="_blank"><?php echo $origin_title; ?></a>
  </div>
<?php endif; ?> -->

<% unless @post.tags.empty? %>
  <div class="article-tags">
    <b>Tags:</b>
    <% for tag in @post.tags %>
      <a href="<%= tag_path("#{tag.id}-#{tag.name.parameterize}") %>"><%= tag.name %></a><% if tag != @post.tags.last %>,<% end %>
    <% end %>
  </div>
<% end %>
