<div class="article-navigation">
  <div class="article-nav article-nav-prev">
    <a href="<%= post_path(@post_previous) %>">
      <small>previous</small>
      <h3><%= @post_previous.title %></h3>
    </a>
  </div>
  <div class="article-nav article-nav-next">
    <% if @post_next %>
      <a href="<%= post_path(@post_next) %>">
        <small>next</small>
        <h3><%= @post_next.title %></h3>
      </a>
    <% else %>
      <small>this is the</small>
      <h3>most recent post</h3>
    <% end %>
  </div>
</div>
