<% if @posts.count > 0 %>
  <div id="articles-listing-excerpt" class="articles-listing articles-listing-excerpt">
    <% @posts.each do |post| %>
      <%= render 'posts/excerpt', post: post %>
    <% end %>
  </div>
<% else %>
  <p>Apologies, but this category has currently no posts.</p>
<% end %>
