<article id="article-<%= @post.id %>" class="article article-show">
  <%= render 'posts/header', post: @post %>

  <div class="article-body">
    <div class="article-content">
      <%= markdown(@post.excerpt) %>
      <%= markdown(@post.body) %>
    </div>

    <%= render 'posts/meta', post: @post %>
  </div>

  <%= render 'posts/actions', post: @post %>
</article>

<%#= render 'posts/navigation', post: @post %>

<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'lovemesomemag';

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
