// $primary: #fff;
$grey: #ededed;
$grey-medium: darken(#ededed, 25%);
$grey-dark: darken(#ededed, 75%);
$bg-image: #f0f1f5;
$grey-image: $bg-image;
$black: #222222; //rgba(#111, 0.9);
$border-color: $grey;

// bootstrap
$brand-primary: darken(#b9d2bf, 5%);
$text-color: $black;
$link-color: $text-color;
$link-hover-color: $brand-primary;
$grid-gutter-width: 40px;
// $grid-float-breakpoint: 0;
$font-size-base: 16px;
$font-size-small: 13px;
$screen-lg: 1400px;
$default-spacing-large: 50px;
$input-color:                    $black;
$input-border:                   $black;
$input-border-radius:            0;
$input-border-focus:             $brand-primary;
$input-color-placeholder:        $grey-medium;
$border-radius-base: 0;
$border-radius-small: 0;
$border-radius-large: 0;
$headings-font-family: "Times New Roman", Times, serif;

// spacing
$grid-gutter-width: 40px;
$space: $grid-gutter-width;
$space-double: $space * 2;
$space-medium: $space / 2;
$space-small: $space / 4;
$space-mini: $space / 8;
$space-tiny: $space / 16;

// font awesome
$fa-font-path: "//netdna.bootstrapcdn.com/font-awesome/4.2.0/fonts";
