// excerpt
.article-headline {
  font-family: 'PT Serif', serif;
  font-size: 26px;
  line-height: 34px;
  margin: 0 0 $space-mini 0;
  padding: 0;

  a {
    text-decoration: none;
  }
}
.article-meta {
  color: $grey-medium;
  font-size: 14px;
  margin-bottom: $space-medium;

  a {
    color: $grey-medium;
    text-decoration: none;

    &:hover {
      color: $link-hover-color;
      text-decoration: none;
    }
  }
}
.article-excerpt-teaser {
  font-size: 16px;
  margin-bottom: $space-medium;
}
.article-excerpt-author,
.article-author {
  font-size: 14px;
}



.article-show {
  margin-bottom: $space;

  img {
    height: auto;
    margin-bottom: $space-medium;
    min-width: 100%;
    max-width: 100%;
  }

  .article-headline {
    font-size: 34px;
  }

  .article-content {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: $space-medium;
    text-align: justify;

    > div {
      width: 100% !important;
    }

    a {
      color: $brand-primary;
    }

    ul {
      list-style: none;
      margin-bottom: $space-medium;

      li:before{
        content:"-";
        position:relative;
        margin-left: -15px; /* optional, for multiline li element */
        left: -15px;
      }
    }
  }
  .article-author {
    margin-bottom: $space-medium;
  }
  .article-tags {
    font-size: 14px;
  }
  .article-origin {
    font-size: 14px;
    margin-bottom: $space-medium;
  }
  .article-gallery-anchor {
    display: block;
  }
}


.article-actions {
  @include clearfix;

  border-top: 1px solid $black;
  border-bottom: 1px solid $black;
  margin: $space 0 0 0;
  padding: $space-small 0;

  a {
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }
}
.social-share {
  display: inline-block;
  height: 22px;
}
body .social-share-pinterest a {
  display: inline-block;
  vertical-align: middle !important;
}



.article-navigation {
  @include clearfix;

  border-bottom: 1px solid $black;
  display: block;
  margin: $space 0;
  padding-bottom: $space-small;

  @media (max-width: $screen-xs-max) {
    display: none;
  }

  h3 {
    font-family: 'PT Serif', serif;
    font-size: 18px;
    line-height: 20px;
    margin: 0 0 $space-small 0;
    text-transform: uppercase;
  }

  a {
    display: block;
    text-decoration: none;

    &:hover {
      small {
        color: $grey-medium;
      }
    }
  }

  small {
    color: $grey-medium;
  }

  .article-nav {
    @include make-xs-column(6);

    padding-left: 0;
    padding-right: 0;
  }
  .article-nav-next {
    border-left: 1px solid $black;
    text-align: right;
  }
}
