footer.footer {
  font-family: "PT Serif", serif;
  font-size: 16px;
  margin-top: $space;
  text-transform: uppercase;

  a, p {
    display: inline-block;
    padding: $space-mini $space-small;
    margin: 0;

    &:first-child {
      margin-left: (-$space-small);
    }

    span {
      display: none;
    }
  }
}
.footer-container {
  @extend .container;
}
.footer-style {
  @include clearfix;

  border-top: 1px solid $black;
  padding: $space-medium 0;
}

// footer social media
.footer-section.social-media-row {
  display: block;
  text-align: center;
}

// copy
.footer-section.footer-section-right {
  text-align: center;

  p, a {
    display: block;
  }
}

// generic
.footer-section {
  @include make-sm-column(3);

  padding: 0;

  @media (min-width: $screen-sm-min) {
    text-align: left !important;
  }
}
.footer-section-right {
  @include make-sm-column(9);

  padding: 0;

  @media (min-width: $screen-sm-min) {
    text-align: right !important;

    p, a {
      display: inline-block !important;
    }
  }

  a:last-child {
    @media (min-width: $screen-sm-min) {
      margin-right: (-$space-small);
    }
  }
}
