header.header {
  font-family: 'PT Serif', serif;
}

// header layout
.header-container {
  @extend .container;
}

.header-style {
  @media (max-width: $screen-xs-max) {
    border-bottom: 1px solid $black;
    margin-bottom: $space;
  }
}

.header-meta {
  display: block;
  margin-left: (-$space-small);
  margin-right: (-$space-small);
  padding: 0;
  width: auto;
}
// header meta
.header-meta {
  a {
    display: inline-block;
    padding: $space-mini $space-small;

    &:first-child {

    }

    span {
      display: none;
    }
  }
}
.header-meta-right {
  float: right;
}


// site id
.header-site-id {
  margin: $space 0;

  a {
    display: block;
    font-family: 'Playfair Display SC', serif;
    font-weight: 400;
    font-size: 34px;
    line-height: 1;
    letter-spacing: 5px;
    text-align: center;
    text-decoration: none;
    width: 100%;

    @media (min-width: $screen-sm-min) {
      font-size: 65px;
      letter-spacing: 30px;
    }

    @media (min-width: $screen-md-min) {
      font-size: 96px;
      letter-spacing: 30px;
    }

    @media (min-width: $screen-lg-min) {
      font-size: 100px;
      letter-spacing: 51px;
    }

    .last {
      letter-spacing: 1px;
    }
  }
}

.desktop {
  .header-site-id {

    a {
      @media (min-width: $screen-sm-min) {
        font-size: 70px;
        letter-spacing: 27.5px;
      }

      @media (min-width: $screen-md-min) {
        font-size: 98px;
        letter-spacing: 31px;
      }

      @media (min-width: $screen-lg-min) {
        letter-spacing: 53px;
      }
    }
  }
}


// responsive
.navbar-toggle {
  height: 34px;
  padding: 5px 10px;
  margin: 0;

  @media (min-width: $screen-sm-min) {
    display: none;
  }

  .icon-bar {
    background-color: $text-color;
  }
}
.navbar-collapse {
  padding: 0 !important;
  margin: 0 !important;
  width: 100% !important;
}
.header-navigation {
  @media (max-width: $screen-xs-max) {
    @include clearfix;
    // border-bottom: $black 1px solid;
  }
}

// main navigation
.main-nav {
  margin-bottom: $space;
  padding-bottom: $space-small;

  @media (min-width: $screen-sm-min) {
    border-bottom: 1px solid $black;
  }

  ul {
    font-size: 0;
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    text-align: center;

    li {
      font-size: 0;

      @media (min-width: $screen-sm-min) {
        display: inline-block;
      }

      &.active a {
        color: $brand-primary;
      }

      a {
        display: block;
        font: normal normal 18px/18px "PT Serif", serif;
        line-height: 1;
        padding: $space-small $space-medium;
        text-decoration: none;

        &:hover {
          background: $brand-primary;
          color: white;
        }
      }
    }
  }
}


// navbar toggle
.navbar-toggle {
  .icon-bar {
    background-color: $text-color;
    position: relative;
    transition: all 150ms ease-in-out;
  }

  .icon-bar:nth-of-type(2) {
    top: 1px;
  }
  .icon-bar:nth-of-type(3) {
    top: 2px;
  }
  .icon-bar:nth-child(2) {
    top: 6px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
  .icon-bar:nth-child(3) {
    background-color: transparent;
  }
  .icon-bar:nth-child(4) {
    top: -6px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }

  &.collapsed {
    .icon-bar:nth-child(2) {
      top: 0;
      transform: rotate(0);
      -webkit-transform: rotate(0);
    }
    .icon-bar:nth-child(3) {
      background-color: $text-color;
      top: 1px;
    }
    .icon-bar:nth-child(4) {
      top: 2px;
      transform: rotate(0);
      -webkit-transform: rotate(0);
    }
  }
}
