body {
  font-family: 'Lato', sans-serif;

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}

// page layout
.container{
  // width: 970px !important;
}
.page {
  @extend .container;

  margin-bottom: 50px;
}
.page-main { @include make-row; }

.page-content {
  @include make-sm-column(8);
}
.page-aside {
  @include make-sm-column(4);

  @media (max-width: $screen-xs-max) {
    display: none;
  }
}


// page header
.page-header {
  border: 0;
  margin: 0 0 $space 0;
  padding: 0;
  position: relative;
  text-align: center;

  &:before {
    content: "";
    border-top: 1px solid $brand-primary;
    border-bottom: 1px solid $black;
    display: block;
    height: 3px;
    margin-top: -1px;
    position: absolute;
    top: 50%;
    width: 100%;
    z-index: 1;
  }

  h1, h2, h3, h4, h4, h5 {
    @include truncate;

    background: white;
    display: inline-block;
    font-family: "Times New Roman", Times, serif;
    font-size: 34px;
    margin: 0;
    max-width: 80%;
    padding: 0 $space-medium;
    position: relative;
    text-transform: capitalize;
    z-index: 2;
  }
}


// html
p {
  margin-bottom: $space-medium;
}

h1, h2, h3, h4, h4, h5 {
  text-transform: capitalize;
}
h1 {
  font-size: 34px;
}

h2 {
  font-size: 28px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 18px;
  font-weight: 500;
}
h5 {
  font-size: 16px;
}
