<%= simple_form_for(@upload) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.attachment_field :image %>
    <%= f.input :post_id %>
    <%= f.input :deleted_at %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
