<p id="notice"><%= notice %></p>

<h1>Listing Uploads</h1>

<table>
  <thead>
    <tr>
      <th>Image</th>
      <th>Post</th>
      <th>Deleted at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @uploads.each do |upload| %>
      <tr>
        <td>
          <%= image_tag attachment_url(upload, :image, :fill, 300, 300, format: "jpg") %>
        </td>
        <td><%= upload.post_id %></td>
        <td><%= upload.deleted_at %></td>
        <td><%= link_to 'Show', upload %></td>
        <td><%= link_to 'Edit', edit_upload_path(upload) %></td>
        <td><%= link_to 'Destroy', upload, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Upload', new_upload_path %>
