<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= @upload.image_id %>
</p>

<p>
  <strong>Post:</strong>
  <%= @upload.post_id %>
</p>

<p>
  <strong>Deleted at:</strong>
  <%= @upload.deleted_at %>
</p>

<%= link_to 'Edit', edit_upload_path(@upload) %> |
<%= link_to 'Back', uploads_path %>
