<div class="aside-section aside-newsletter">
  <%= render "aside/newsletter" %>
</div>

<div class="aside-section aside-search hidden">
  <h2 class="aside-headline">Search</h2>
  <?php echo get_search_form(); ?>
</div>

<div class="aside-section aside-about-us">
  <h2 class="aside-headline">Hello.</h2>
  <p>Welcome to LOVEMESOME! This is a blog curated by me, Linda, and some great guest authors. LOVEMESOME covers all the trends in fashion & lifestyle I love.</p>
</div>

<div class="aside-section aside-pinterest">
  <h2 class="aside-headline">We are on Pinterest</h2>
  <a data-pin-do="embedUser" href="http://de.pinterest.com/lovemesomemag/" data-pin-scale-height="500"></a>
  <!-- Please call pinit.js only once per page -->
  <script type="text/javascript" async src="//assets.pinterest.com/js/pinit.js"></script>
</div>
