<footer id="footer" class="footer">
  <div class="footer-container container">
    <div class="footer-style">
      <div class="footer-section social-media-row">
        <a class="btn btn-link" href="https://facebook.com/lovemesomemag" target="_blank"><i class="fa fa-facebook"></i><span>Find us on Facebook</span></a>
        <a class="btn btn-link" href="https://twitter.com/lovemesomemag" target="_blank"><i class="fa fa-twitter"></i></i><span>Find us on Twitter</span></a>
        <a class="btn btn-link" href="https://instagram.com/lovemesomemag" target="_blank"><i class="fa fa-instagram"></i></i><span>Find us on Instagram</span></a>
        <a class="btn btn-link" href="https://pinterest.com/lovemesomemag" target="_blank"><i class="fa fa-pinterest"></i></i><span>Find us on Pinterest</span></a>
      </div>
      <div class="footer-section footer-section-right">
        <p>
          &copy; <%= Time.now.year %> LOVEMESOME
        </p>
        <!-- <?php $items = wp_get_nav_menu_items("footer_navigation"); ?>
        <?php foreach ( $items as $item) : ?>
          <a href="<?php echo get_permalink(get_page_by_title($item->title)); ?>"><?php echo $item->title; ?></a>
        <?php endforeach; ?> -->
      </div>
    </div>
  </div>
</footer>

<script type="text/javascript">
  (function(d){
    var f = d.getElementsByTagName('SCRIPT')[0], p = d.createElement('SCRIPT');
    p.type = 'text/javascript';
    p.async = true;
    p.setAttribute('data-pin-hover', true);
    p.setAttribute('data-pin-color', "white");
    p.setAttribute('data-pin-height', "28");
    p.src = '//assets.pinterest.com/js/pinit.js';
    f.parentNode.insertBefore(p, f);
  }(document));
</script>
