<header id="header" class="header">
      <div class="header-container container">
        <div class="header-style">
          <div class="header-meta">
            <div class="header-meta-left social-media-row">
              <a class="btn btn-link" href="https://facebook.com/lovemesomemag" target="_blank"><i class="fa fa-facebook"></i><span>Find us on Facebook</span></a>
              <a class="btn btn-link" href="https://twitter.com/lovemesomemag" target="_blank"><i class="fa fa-twitter"></i></i><span>Find us on Twitter</span></a>
              <a class="btn btn-link" href="https://instagram.com/lovemesomemag" target="_blank"><i class="fa fa-instagram"></i></i><span>Find us on Instagram</span></a>
              <a class="btn btn-link" href="https://pinterest.com/lovemesomemag" target="_blank"><i class="fa fa-pinterest"></i></i><span>Find us on Pinterest</span></a>

              <a class="header-meta-right btn btn-link" href="<%= search_results_path %>">
                <i class="fa fa-search"></i>
              </a>
              <button type="button" class="btn btn-link header-meta-right navbar-toggle collapsed" data-toggle="collapse" data-target="#lovemesome-navigation-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
          </div>
          <div class="header-site-id">
            <a href="/">LOVEMESOM<span class="last">E</span></a>
          </div>
          <div class="header-navigation">
            <div class="collapse navbar-collapse" id="lovemesome-navigation-collapse">
              <nav id="main-nav" class="main-nav">
                <ul>
                  <% for category in @categories %>
                    <%= navigation_li_link category.title, category_path(category) %>
                  <% end %>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </header>
