<!DOCTYPE html>
<html>
  <head>
    <title><%= website_title("LOVEMESOME", @title) %></title>
    <%= stylesheet_link_tag    'lovemesome', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <meta http-equiv="X-UA-Compatible" content="IE=EDGE,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="profile" href="http://gmpg.org/xfn/11" />
    <link rel="pingback" href="<?php bloginfo( 'pingback_url' ); ?>" />
    <meta name="p:domain_verify" content="9fa7a2e90a5a9f03a95fc99750628552"/>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <%= render 'layouts/header' %>

    <div class="page container">
      <% unless params[:controller] == "frontpage" && params[:action] == "show" %>
        <div class="page-main">
          <section class="page-content">
            <%= yield %>
          </section>
          <aside class="page-aside">
            <%= render 'layouts/aside' %>
          </aside>
        </div>
      <% else %>
      <%= yield %>
      <% end %>
    </div>

    <%= render 'layouts/footer' %>
  </body>
</html>
