<!DOCTYPE html>
<html>
  <head>
    <title>Lovemesome</title>
    <%= stylesheet_link_tag    'backend/backend', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'backend/backend', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag '//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <%= render 'layouts/backend/header' if current_user %>

    <div class="container">
      <%= render 'layouts/backend/alerts' %>
      <%= yield %>
    </div>

    <div class="container">
      <hr>
      <p>LOVEMESOME</p>
      <br>
    </div>

  </body>
</html>
